<div class="knotable-lightbox-inner"></div>
<div id="knotable-boxforgot_password" class="knotable-box knotable-box-side collapsed">
    <div class="knotable-box-title text-center">Forgot <span>Password</span>?</div>
    <section>
        <div class="input-wrapper">
            <input type="text" class="input-title input-textbox" id="recovery-email" placeholder="Email">
        </div>
        <p class="knotable-p" id="status-text">Please enter your email in the box above and press 'Submit' to retrieve your password.</p>
        <div class="buttons">
            <input id="forget-password-submit-button" type="button" class="knotable-button knotable-button-full" value="Submit"/>
            <div>&nbsp;</div>
            <input type="button" class="knotable-button knotable-button-full" id="forgot-password-back-button" value="Go back"/>
        </div>
    </section>
</div>