<div class="knotable-lightbox-inner"></div>
<div id="knotable-box-login" class="knotable-box knotable-box-side">
	<div>
		<span class="knotable-logo"></span>
	</div>
    <div class="knotable-box-title text-center">Welcome to Knotable</div>
    <div>
        <p class="knotable-p" id="login_status"></p>
        <form>
            <div class="input-wrapper">
                <input type="text" class="input-textbox" value="" name="email" id="knotable-login-username" placeholder="Username or email"
                       autofocus autocomplete="off">
            </div>
            <div class="input-wrapper input-wrapper-icon">
                <input type="password" class="input-textbox" value="" name="password" id="knotable-login-password" placeholder="Enter password"
                       autocomplete="off">
                <a id="forgot-password" class="knotable-link-forget-password">?</a>
            </div>
            <div class="knotable-buttons">
            	<button type="submit" class="knotable-button knotable-button-full" id="knotable-button-login">
            		<span id="login-btn-label">SIGN IN </span>
                    <img id="login-btn-loader" src="../images/loader.gif" style="width: 40px;   height: 10px;">
            	</button>
            </div>
            <!-- <div class="knotable-buttons">
            	<button type="button" class="knotable-button knotable-button-full" id="knotable-google-login">
            		<span>Google Login</span>
            	</button>
            </div> -->
            <p class="knotable-p text-center">Don't have an account? <a id="knotable-button-register">Sign Up!</a></p>
        </form>
    </div>
</div>
