html,
body {
    overflow: hidden;
}

@font-face {
    font-family: 'open_sanslight';
    src: url('/data/fonts/opensans-light-webfont.eot');
    src: url('/data/fonts/opensans-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('/data/fonts/opensans-light-webfont.woff') format('woff'),
         url('/data/fonts/opensans-light-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'open_sansregular';
    src: url('/data/fonts/opensans-regular-webfont.eot');
    src: url('/data/fonts/opensans-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('/data/fonts/opensans-regular-webfont.woff') format('woff'),
         url('/data/fonts/opensans-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'open_sanssemibold';
    src: url('/data/fonts/opensans-semibold-webfont.eot');
    src: url('/data/fonts/opensans-semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('/data/fonts/opensans-semibold-webfont.woff') format('woff'),
         url('/data/fonts/opensans-semibold-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.collapsed {
    -webkit-transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
}

.spread {
	-webkit-transform: translate(-313px,0);
	-moz-transform: translate(-313px,0);
	-o-transform: translate(-313px,0);
	-ms-transform: translate(-313px,0);
	transform: translate(-313px,0);
}

@-webkit-keyframes fadeIn {
    0% {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
}

@keyframes fadeIn {
    0% {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
}

.knotable-lightbox {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 2147483640; /* max 32-bit unsigned value*/
    -webkit-animation: fadeIn 0.5s ease;
    animation: fadeIn 0.5s ease;
}

.knotable-lightbox .background {
    overflow: hidden;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: #000000;
    opacity: 0.7;
}

.knotable-lightbox-inner {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    overflow-x: hidden;
    overflow-y: auto;
}

#knotable-popup .knotable-box {
    margin-top: 0;
    margin-bottom: 0;
    border-radius: 0;
}

#knotable-popup .background {
    display: none;
}

.knotable-box {
    box-sizing: border-box;
    font-family: "open_sansregular", Helvetica, Verdana;
}

.knotable-box a {
    color: #5D95ED;
}

.knotable-editable-content a {
	color: #5D95ED !important;
}

.knotable-box button,
.knotable-box a,
.knotable-box input,
.knotable-box textarea,
.knotable-box [contenteditable] {
    outline: none;
}

.knotable-box button,
.knotable-box a {
	cursor: pointer;
}

.knotable-box a:hover {
    text-decoration: underline;
    color: #28ACE8;
}

.knotable-box .knotable-p {
    margin: 0 0 9px;
}

.knotable-box {
    position: relative;
    margin: 30px auto;
    font-size: 12px;
    line-height: 1.6;
    color: #7A7A7A;
    background-color: #fff;
    border-radius: 5px;
    padding: 23px 29px 18px;
    max-width: 301px;
}

.knotable-box.knotable-box-large {
    max-width: 600px;
    min-height: 340px;
}

.knotable-box-side {
    padding: 30px;
    width: 320px;
    max-width: none;
    height: 72%;
    margin: 0;
    box-shadow: 0px 2px 6px 0px rgba(0,0,0,0.2);
    border-left: 1px solid #DBDBDB;
    border-radius: 0;
    left: 40%;
    top: 85px;
}

.knotable-logo {
	background:url('/data/images/logo-128.png') no-repeat left top;
	width: 64px;
	height: 64px;
	background-size: cover;
	display: block;
	margin: 0 auto 31px;
}

.knotable-logo-intro {
    background: url('/data/images/logo-128.png') no-repeat left top;
    background-size: cover;
    display: block;
    width: 75px;
    height: 75px;
}

.knotable-logo-home {
    background: url('/data/images/icon-128-new.png') no-repeat left top;
    width: 55px;
    height: 55px;
    background-size: cover;
    display: inline-block;
}

.knotable-box-title {
    font-size: 19px;
    margin-bottom: 35px;
    font-family: "open_sanslight", Helvetica, Verdana;
}

.knotable-box-title span {
    color: #1972E7;
    font-weight: bold;
}

.knotable-box-header {
    margin: -30px -30px 0;
    background-color: #F4F8F9;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.2);
    border-bottom: 1px solid #DBDBDB;
    padding: 23px 30px;
}

.knotable-box-header.knotable-box-header-search-pade {
    background: #fff;
}

.knotable-box-header.knotable-box-header-search-pade .select2-container .select2-chosen {
    border-left: 2px solid #8DCEEC;
    padding-left: 6px;
}

.knotable-box-header.knotable-box-header-compact {
    padding: 0 20px;
}

.knotable-box-move .knotable-box-header {
    margin: -15px -15px 0;
}

.knotable-box-body {
    padding: 24px 0;
}

.knotable-box-body-1 {
    margin-right: -30px;
}

.knotable-editable-content {
    max-height: 25%;
    overflow: hidden;
    overflow-y: scroll;
}

.knotable-editable-content,
.knotable-editable-content * {
    color: #7a7a7a !important;
}

.knotable-editable-content {
    line-height: 2;
}

.knotable-editable-content > .content-wrapper {
    overflow: visible;
    max-height: auto;
}

.knotable-editable-content:empty:after {
    color: #ccc;
    content: attr(data-placeholder);
}

.knotable-editable-content[contenteditable="true"] {
    min-height: 105px;
    overflow: hidden;
}

.knotable-editable-content img {
    max-width: 100% !important;
    max-height: 100% !important;
}

.knotable-editable-content p {
    margin: 0 0 10px;
}

/******/
.knotable-box .input-wrapper {
    position: relative;
    margin-bottom: 20px;
}

.knotable-box .input-wrapper .input-textbox {
    border: none;
    background: none;
    border-radius: 0;
    border-bottom: 1px solid #DBDBDB;
    width: 100%;
    color: #7A7A7A;
    font-size: 13px;
    font-family: "open_sansregular", Helvetica, Verdana;
    padding: 6px 0;
    box-shadow: none;
}

.knotable-box .input-wrapper .input-textbox:focus {
	border-bottom-color: #33AEE6;
}

.knotable-box  .input-wrapper.input-wrapper-icon .input-textbox {
    padding-right: 20px;
}

.knotable-box .input-wrapper-icon a {
    border-radius: 50%;
    border: 1px solid #AEAEAE;
    position: absolute;
    right: 3px;
    top: 7px;
    width: 16px;
    height: 16px;
    text-align: center;
    line-height: 14px;
    font-size: 11px;
    color: #AEAEAE;
    text-decoration: none;
}

.knotable-box::-webkit-input-placeholder {
    color: #AEAEAE;
}

/******/
.knotable-user-avatar {
    font-size: 38px;
    line-height: 60px;
    width: 60px;
    height: 60px;
    float: left;
    background-color: orange;
    text-align: center;
    border-radius: 50%;
    overflow:hidden;
    //-webkit-box-shadow: 0 0 6px rgba(0,0,0,0.2);
    //border: 2px solid rgba(27, 173, 254, 1);
}

.knotable-user-avatar img {
    width: 100%;
    height: 100%;
}

.knotable-user-name {
    color: #B7B9B8;
}

.knotable-box-header .knotable-user-avatar {
    margin-top: 4px;
}

.knotable-user-panel {
    padding-left: 79px;
}

.knotable-user-action {
    padding: 0 2px;
}

.knotable-link-icon {
    font-size: 11px;
    font-weight: 600;
    color: #A0A0A0;
    border: none;
    background: none;
    box-shadow: none;
    padding: 0;
    margin: 0;
}

.knotable-link-icon + .knotable-link-icon {
    margin-left: 16px;
}

.knotable-link-icon:before {
    content: "";
    display: inline-block;
    vertical-align: top;
    padding-top: 3px;
    width: 12px;
    height: 12px;
    background-repeat: no-repeat;
    background-position: center center;
    margin-right: 10px;
}

.knotable-action-settings:before {
    background-image: url('/data/images/settings.png');
}

.knotable-action-logout:before {
    background-image: url('/data/images/lock.png');
}

.knotable-nav {
    padding: 9px 0;
}

.knotable-nav-item {
    font-weight: 600;
    color: #7a7a7a;
    font-size: 12px;
    padding: 17px 0;
    box-shadow: none;
    border: none;
    border-bottom: 1px solid #dbdbdb;
    border-radius: 0;
    background: none;
    cursor: pointer;
    text-indent: 16px;
    text-align: left;
    width: 100%;
    margin: 0;
}

.knotable-nav-item:hover,
.knotable-nav-item:focus {
    border-bottom-color: #3DB0E6;
}

.knotable-nav-item:after {
    content: "";
    display: inline-block;
    float: right;
    width: 6px;
    height: 18px;
    background-image: url('/data/images/indicator.png');
    background-repeat: no-repeat;
    background-position: center center;
    margin-right: 30px;
}

.knotable-nav-item:hover:after,
.knotable-nav-item:focus:after {
    background-image: url('/data/images/indicator_over.png');
}

.knotable-nav-item:before {
    content: "";
    display: inline-block;
    float: left;
    width: 18px;
    height: 19px;
    background-repeat: no-repeat;
    background-position: left center;
}

.knotable-action-snapshot:before {
    background-image: url('/data/images/snapshot.png');
}

.knotable-action-full-page:before {
    background-image: url('/data/images/screen.png');
}

.knotable-action-selection:before {
    background-image: url('/data/images/selection.png');
}

.knotable-clear {
    clear: both;
}

.knotable-text-1 {
    font-weight: 600;
    font-size: 14px;
    line-height: 1.45;
}

.knotable-box a.knotable-text-1 {
    color: #7A7A7A;
    text-decoration: none;
}

.knotable-link-box {
    background: url('/data/images/pagelinkpin.png') no-repeat left 11px transparent;
    padding: 0 0 0 36px;
    margin: 16px 0 0;
    line-height: 1.5;
}

.knotable-link-box a {
    font-size: 11px;
    text-decoration: none!important;
}

.knotable-link-box .knotable-link-box-url-desc {
    color: #A0A0A0;
}

.knotable-link-box .knotable-link-box-url {
    font-size: 12px;
    font-weight: 600;
    display: inline-block;
    border-bottom: 1px solid #D9D9D9;
    line-height: 1.1;
}

.knotable-textarea {
    border: none;
    background: none;
    border-radius: 0;
    border-top: 1px solid #DBDBDB;
    border-bottom: 1px solid #DBDBDB;
    width: 100%;
    color: #7A7A7A;
    font-size: 13px;
    font-family: "open_sansregular", Helvetica, Verdana;
    padding: 21px 0 3px;
    box-shadow: none;
    resize: none;
    margin: 27px 0 11px;
}

.knotable-textarea-comment {
    background: url('/data/images/talkingballoon.png') no-repeat left 24px transparent;
    padding-left: 27px;
}

.select2-drop {
    z-index: 2147483642 !important;
}

.select2-drop-mask {
    z-index: 2147483641 !important;
}

.knotable-box .select2-container a.select2-choice {
    border: none;
    background: none;
    font-weight: 600;
    font-size: 12px;
    color: #7a7a7a;
    height: auto;
    padding: 0 0 0 36px;
    text-decoration: none;
    box-shadow: none;
    border-radius: 0;
}

.knotable-box .select2-container .select2-choice > .select2-chosen {
    margin-right: 0;
}

.knotable-box .select2-container .select2-choice .select2-arrow {
    left: 0;
    background: url('/data/images/magnifier.png') no-repeat left center transparent;
    border: none;
}

.knotable-box .select2-container input {
    border: none;
    background: none;
    box-shadow: none;
}

.select2-result,
.select2-search input {
	font-family: "open_sansregular", Helvetica, Verdana;
	font-size: 12px;
}
ul.knotable-list {
    margin: 0;
    padding: 0;
}

ul.knotable-list li {
    list-style: none;
    padding: 0 0 10px;
}

.knotable-hide {
   	display: none !important;
}

/******/
.knotable-box .link-plus {
    color: #888888;
}

.link-plus:before {
    content: "+";
    display: inline-block;
    border-radius: 50%;
    width: 19px;
    height: 19px;
    color: #DBDCDC;
    border: 1px solid #DBDCDC;
    margin-right: 5px;
    text-align: center;
    font-size: 23px;
    line-height: 16px;
    vertical-align: top;
    position: relative;
    top: 0;
}

/******/
.knotable-button {
    border-radius: 5px;
    color: #fff;
    padding: 12px;
    font-size: 12px;
    font-weight: 600;
    border: none;
    cursor: pointer;
    text-decoration: none !important;
    height: auto;
    background: #32AEE5;
    box-shadow: none;
    -webkit-transition: all .75s ease;
    -moz-transition: all .75s ease;
    -ms-transition: all .75s ease;
    -o-transition: all .75s ease;
    transition: all .75s ease;
}

.knotable-button:focus {
  background: #128EC5;
}

.knotable-button:disabled {
    background-color: #aaaaaa;
    cursor: not-allowed;
}

.knotable-button-full {
    width: 100%;
}

.knotable-buttons > * {
    margin-top: 6px;
    margin-bottom: 25px;
}

.knotable-buttons #knotable-google-login {
    background-color: #dd4b39;
}

.knotable-buttons #knotable-google-login:hover {
    background-color: #c23321;
}

/******/
.text-right {
    text-align: right;
}

.text-center {
    text-align: center;
}

/******/
.knotable-box .btn-close {
    font-size: 20px;
    font-weight: 900;
    line-height: 10px;
    color: rgb(170, 170, 170);
    text-decoration: none;
    position: absolute;
    right: 10px;
    top: 10px;
    margin-right: 20px;
}

.knotable-box .btn-close:hover {
    color: #333;
    text-decoration: none;
}

.knotable-box .delete-knote {
    font-size: 12px;
    color: #000;
    text-decoration: underline;
    position: absolute;
    right: 10px;
    bottom: 5px;
    background: #fff;
    z-index: 2;
}

.knotable-box .delete-knote:hover {
    text-decoration: none;
}

#knotable-loading {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -7px;
    margin-top: -7px;
}

.knotable-loading {
    display: inline-block;
    width: 14px;
    height: 14px;
    border: solid 2px #28ADE8;
    border-radius: 100%;
    border-bottom-color: rgba(218, 218, 235, 0);
    -webkit-animation: loading-circle 1s linear infinite;
}

@keyframes loading-circle {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@-webkit-keyframes loading-circle {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}

@-moz-keyframes loading-circle {
    0% {
        -moz-transform: rotate(0deg);
    }

    100% {
        -moz-transform: rotate(360deg);
    }
}

@-o-keyframes loading-circle {
    0% {
        -o-transform: rotate(0deg);
    }

    100% {
        -o-transform: rotate(360deg);
    }
}

.knotable-hidden.knotable-show {
    display: inline-block !important;
}

#options-knotable div {
    min-width: 30%;
    background: #eee;
}

#pads li {
    cursor: default;
}

.padsHovered {
    font-weight: bold;
}

ul {
    list-style-type: none;
    list-style-image: none;
}

.knotable-row {
    display: block;
    width: 100%:;
}

.knotable-row .knotable-col {
    display: inline-block;
}

.knotable-row .knotable-right {
    float: right;
}

.kne-hiddenText {
    display: none;
}

.kne-continueTxt:before {
    content: "...";
}

.content-wrapper {
    cursor: default;
    overflow: auto;
    font-size: 13px;
    max-height: 300px;
    margin-bottom: 20px;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-thumb {
    height: 30px;
    width: 5px;
    background-color: rgba( 170, 170, 170, 1);
    border-radius: 4px;
}

::-webkit-scrollbar-corner {
    background-color: #999;
}

::-webkit-resizer {
    background-color: #666;
}

.hidePageInfo {
    display: none;
}

#connection-status {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    //background: #F0F8FF;
    padding: 0.1em;
    text-align: right;
    -webkit-transition: all 0.75s ease;
    transition: all 0.75s ease;
}

#knote-textarea {
    width: 280px;
    height: 400px;
    font-size: inherit;
    color: #777;
    padding: 5px;
    outline: none;
    overflow-y: auto;
}

#knote-textarea:empty:before {
    content: attr(placeholder);
    display: block;
}

.tray-view #knotable-boxforgot_password,
.tray-view #knotable-box-login {
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  border-left: 0;
}

.tray-view #knotable-button-signup {
  margin-bottom: 10px;
}
