<!DOCTYPE html>
<html>
<head>
  <link type="text/css" rel="stylesheet" href="/data/css/style.css">
  <link rel="stylesheet" href="/data/css/bootstrap.min.css">
</head>
<body>
<div id="browsericonView">
  <textarea style="resize: none;outline-width: 0px; border: none; color: #777; padding: 5px;" id="knote-textarea" placeholder="Enter a note"></textarea> <br />
  <!-- <button class="knotable-button knotable-button-full" id="knotable-popup">Add knote</button> -->
  <button style="background: #f7f7f7; border: 1px solid #ddd; margin-left: 7px; margin-bottom: 5px;" class="btn btn-clear" id="btn-add-knote">
    <i class="glyphicon glyphicon-plus"></i>
  </button>

  <button style="float: right; background: #f7f7f7; border: 1px solid #ddd; margin-right: 7px; margin-bottom: 5px;" class="btn btn-clear" id="btn-open-tab">
    <i class="glyphicon glyphicon-list-alt"></i>
  </button>
</div>
</body>
</html>
